<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> AdonisJS - A fully featured web framework for Node.js </title>

  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body>
  <div class="max-w-3xl mx-auto mt-6">
    <nav>
      <a href="{{route('home')}}">Home</a>
      <a href="{{route('movies.show', { slug: 'my-awesome-movie'} )}}">My Awesome Movie</a>
      <a href="{{route('movies.show', { slug: 'another-awesome-movie'} )}}">Another Awesome Movie</a>
    </nav>
    <h1> {{movie.title}} </h1>
    <h1 class="text-red-500"> {{{movie.abstract}}} </h1>
    {{inspect(movie)}}
  </div>
</body>

</html>
